.Profile {
  height: auto;
  display: block;
}

.Profile > img {
  min-width: 300px;
  display: block;
  margin: 0px auto;
  width : 40%;
  margin-bottom: 5%;
}

#intro-message {
  font-size: 1em;
}

