#posting {
    font-size: 3em;
}

#post-view {
    /* padding : 10vw */
}

#writing-box {
    width : 80%;
}

.post a:hover {
    color: red
}

.post a {
    color : white
}

.post {
    margin: 0.5vw
}

.post img{
    width : 15vw;
    height: 15vw
}

.timestamp {
    font-size: 1em;
}

#blog-pagination {
    /* position: absolute;
    top: 85vh; */
}

