#Home {
  text-align: center;
  color: white;
  background : #fefffb;
}

#Home-Typed {
    font-size: 4em;
}

h1{
    font-weight: bold;
}

#gpa {
    font-size: 1.5em;
}

#center-wrapper {
  width: 100%;
  height: 100%;
  font-weight: bold;
  /* font-size: 3em; */
  /* padding-top: 40vh; //for using typed */ 
  padding-top: 15%;
  padding-bottom: 10%;
  color: #000000;
  display: flex;
  flex-direction: column;
}

.accepted {
    color : green;
    font-size: 1em;
}

.waitlisted {
    color : orange;
    font-size: 1em;
}

.rejected {
    color : red;
    font-size: 1em;
}

.pending {
    color : black;
    font-size: 1em;
}