#navigationBar {
    background:#12232e;;
    position: fixed;
    min-width: 100vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    z-index: 2;
}

.navigation-item a {
    color: #fff;
    font-weight: bold;
}
  
  /* Color changes when hover */
.navigation-item a:hover {
    color: #49cb6e;
    text-decoration: none;
}

.navigation-item {
    margin-left: 7.5vw;
    margin-right: 7.5vw;
    font-size: 2.0ex;
}