#navigationBar {
    /* background: rgb(109, 147, 223); */
    position: relative;
    min-width: 100%;
    opacity: 100%;
    z-index: 2000;
    margin-bottom: 5vh;
  }

.navigation-item a {
    color: #fff;
    font-weight: bold;
}
  
  /* Color changes when hover */
.navigation-item a:hover {
    color: #49cb6e;
    text-decoration: none;
}

.navigation-item {
    padding-left: 6.5vw;
    padding-right: 6.5vw;
}