#Navi {
  position: fixed;
  max-width: 100%;
  background: #2d8568;
  z-index: 2000;
}

.nav-item {
  padding-left: 10%;
}

#NavItemList {
  /* margin : 10 0 10 0 px; */
  display: flex;
  flex-direction: row;
}

.container {
  padding-top: 1%;
  padding-bottom: 1%;
}

.nav-item a {
  color: #fff;
  font-weight: bold;
}

.nav-item a:hover {
  color: #49cb6e;
  text-decoration: none;
}

#ContactBtn {
  font-weight: bold;
}