#Router {
  max-width: 100%;
  min-height: 100vh;
  background: #9986a7;
}

#NavItemList {
  /* margin : 10 0 10 0 px; */
  display: flex;
  flex-direction: row;
}

.container {
  padding-top: 1%;
  padding-bottom: 1%;
}