body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* @import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

div {
  /* font-family: 'Cairo', sans-serif; */
  font-family: 'Montserrat', sans-serif;
}

.Header {
  text-align: center;
  font-size: 3.5em;
  font-weight: bold;
}

#root {
  background : rgb(224, 224, 214);
}

.section.container {
  padding-top: 3%;
}

